* {
    margin: 2%;
    padding: 2%;
    }
    
    .cabeçalho{
    background-color: rgb(226, 157, 205);
    color: rgb(0, 0, 0);
    display:flex;
    align-items: center;
    padding: 50px 0;
    }
    
    .cabeçalho_imagem{
    width: 20%;
    }
    
    .cabeçalho_titulo{
    font-size: 50px;
    background-color: linear-gradient(rgb(226, 157, 205), #f361d3);
    }
    
    .cabeçalho_lista_item{
    margin: 5px 10px 30px 5px;
    font-size: 20px;
    }
    
    .apresentaçao_trabalho{
    background-image: linear-gradient(rgb(226, 157, 205), #f361d3);
    padding: 0px;
    }
    
    .titulo_apresentaçao_trabalho{
    background-image: linear-gradient(rgb(226, 157, 205), #f361d3);
    padding: 0px;
    font-size: 30px;
    }
    
    .imagem {
    width: 20%;
    }
    .Artigos.html{
    background-color: rgb(226, 157, 205);
    color: rgb(0, 0, 0);
    display:flex;
    align-items: center;
    padding: 50px 0;
    }

    .tamanho_texto{
        font-size: 15px;
    }