* {
    margin: 0%;
    padding: 0%;
}

.cabeçalho image {
    width: 12%;
}

.cabeçalho title{
    font-size: 34px;
    padding: 24px;
}
.corpo-do-site{ 
background-color: rgb(230, 154, 217); background-color: rgb(233, 97, 203);
}



.cabeçalho{ 
background-image:linear-gradient(rgb(253, 249, 252),rgb(233, 96, 210));
}
